body {
   font-family: 'Segoe UI Historic';
   font-size: medium;
   background-color: rgb(48, 56, 67);
   color: rgb(145, 145, 145);
}

ul {
   list-style: none;
}

.test {
   padding: 30px 30px 30px 30px;
   margin: 0px 35px 0px 35px;
}

.projects {
   margin: 0px 35px 0px 35px;
   padding-left: 10px;
   padding-right: 30px;
   padding-bottom: 30px;
   border: outset 5px rgb(57, 67, 75);
}

#project_div {
   padding-left: 10px;
   padding-bottom: 5px;
   line-height: 10px;
   border: ridge 2px rgb(90, 90, 90);
}

#project_title {
   font-size: xx-large;
   margin: 2px 2px 15px 2px;
}

#download_title {
   text-decoration: solid;
   font-weight: 500;
}

#download {
   color: rgb(63, 114, 162);
}

#nav_ul {
   list-style-type: none;
   margin: 0px;
   overflow: hidden;
   padding: 5px 5px 5px 5px;
   background-color: rgb(48, 56, 67);
   !border: ridge 2px rgb(80, 82, 85);
}

#nav_li {
   display: inline;
   float: left;
   !border: outset 1px rgb(57, 67, 75);
}

#nav_a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

#nav_a:hover {
   background-color: rgb(95, 96, 102);
}

#about {
   position: fixed;
   bottom: 0;
   right: 15;
   color: rgb(212, 40, 42);
   font-size: 27px;
   height: 1em;
}

#aboutme {
   border: outset 5px rgb(57, 67, 75);
   padding: 30px 30px 30px 30px;
   margin: 0px 35px 0px 35px;
}

#tba {
   border: outset 5px rgb(57, 67, 75);
   padding: 30px 30px 30px 30px;
   margin: 0px 35px 0px 35px;
}
